body {
    background: lightcoral;
    font-family: sans-serif;
    margin: 0;
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: white;
    max-width:30em;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    padding: 0;
}

a {
    color:white;
}